:root {
    /* paleta deepsea de coolors.co*/
    --deepsea-color-dark: #0d1321;
    --deepsea-color-mid-1: #1d2d44;
    --deepsea-color-mid-2: #3e5c76;
    --deepsea-color-mid-3: #748cab;
    --deepsea-color-white: #f0ebd8;
}

* {
    font-family: "JetBrains Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-content,
.chat-content {
    min-width: 400px;
    max-width: 650px;
}

.title-content {
    height: 15%;
    text-align: center;
}

.title-content h1, span {
    margin: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.chat-content {
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat-input {
    width: 100%;
    padding: 0.5rem;
}

.chat-output {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}

.question {
    align-self: flex-end;
    width: 90%;
    padding: 5px;
    background-color: lightgreen;
}

.answer {
    width: 90%;
    padding: 5px;
    background-color: lightgray;
}
